<div class="slider row">
  <ul class="slides">
    <li>
      <%= image_tag "islider-1.png", style: "width: 100%; height: 100%" %>
      <div class="caption left-align" style="top: 3%;">
      </div>
    </li>

    <li>
      <%= image_tag "slide_2.jpg", style: "width: 100%; height: 100%" %>
      <div class="caption left-align" style="top: 3%;">
      </div>
    </li>

    <li>
      <%= image_tag "slide_3.jpg", style: "width: 100%; height: 100%" %>
      <div class="caption left-align" style="top: 3%;">
      </div>
    </li>

    <li>
      <%= image_tag "slide_4.jpg", style: "width: 100%; height: 100%" %>
      <div class="caption left-align" style="top: 3%;">
      </div>
    </li>
  </ul>
</div>

<div class="row row-space-home-page"></div>
<div class="container" id="customize-home-container">
  <div class="row">
    <%= form_tag(products_path, remote: true, method: :get, id: "_search_product") do %>
      <div class="col s12 m6 l9">
        <div class="input-field">
          <div class="card z-depth-1">
            <div class="search-box-article">
              <i class="material-icons md-36 prefix">search</i>
              <%= text_field_tag :search_text, params[:search_text], placeholder: (t "static_pages.home.search") %>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <%= link_to '<i class="material-icons md-72">arrow_drop_up</i>&nbsp;'.html_safe, "",
                    {title: t "static_pages.home.price_up", id: "_up"} %>
        <%= link_to '<i class="material-icons md-72">arrow_drop_down</i>&nbsp;'.html_safe, "",
                    {title: t "static_pages.home.price_down", id: "_down"} %>
        <%= hidden_field_tag :sort_product, (params[:sort_product].nil? ? "0" : params[:sort_product]), id: "_sort" %>
      </div>
    <% end %>
  </div>

  <div class="col s12 m12 l9" id="container-products">
    <% if @products.present? && @products.count > 0 %>
      <div class="row row-latest-home-items">
        <%= render "shared/product" %>
      </div>

      <div class="apple_pagination">
        <%= will_paginate @products %>
      </div>
    <% end %>
  </div>
</div>
