<div class="slider row">
  <ul class="slides">
    <li>
      <%= image_tag 'islider-1.png', style: 'width: 100%; height: 100%' %>
      <div class="caption left-align" style="top: 3%;">
      </div>
    </li>

    <li>
      <%= image_tag 'slide_2.jpg', style: 'width: 100%; height: 100%' %>
      <div class="caption left-align" style="top: 3%;">
      </div>
    </li>

    <li>
      <%= image_tag 'slide_3.jpg', style: 'width: 100%; height: 100%' %>
      <div class="caption left-align" style="top: 3%;">
      </div>
    </li>

    <li>
      <%= image_tag 'slide_4.jpg', style: 'width: 100%; height: 100%' %>
      <div class="caption left-align" style="top: 3%;">
      </div>
    </li>

  </ul>
</div>

<div class="row row-space-home-page">
  <%= render "shared/product" %>
</div>
