<table>
  <thead>
  <tr>
    <th class="mail-order-th" id="th-table-item-title"><%= t".item"%></th>
    <th class="mail-order-th-name"><%= t".name"%></th>
    <th class="center mail-order-th"><%= t".quantity"%></th>
    <!-- <th class="left mail-order-th" id="th-table-space-title">&nbsp;</th> -->
    <th class="mail-order-th"><%= t".price"%></th>
  </tr>
  </thead>
  <tbody>
    <%
    unless @carts.nil?
      @total_price = 0
      @carts.each do |cart| %>
      <%
        product = cart.product
        quantity = cart.quantity
      %>
      <tr>
        <td id="td-table-image-item">
        <%= image_tag product.image, class: "thumbnail-image-line-item-cart" %>
        </td>

        <td>
          <%= product.name %>
        </td>

        <td class="center">
          <%= quantity %>
        </td>

        <td>
          <%= number_with_delimiter (product.price * quantity) %>
          <% @total_price += product.price * quantity %>
        </td>

        <td>
          <%= link_to (t ".Delete"), shopping_cart_path(id: cart.id) , method: :delete %>
        </td>

      </tr>

    <% end
    end%>
      <tr class="total_line">
        <td>&nbsp;</td>
        <td class="td-table-space-total">&nbsp;</td>
        <td class="center"><b><%= t".total"%></b></td>
        <td class="td-table-space-total"><%= number_with_delimiter @total_price %></td>
        <td></td>
      </tr>
  </tbody>
</table>
<%= link_to (t ".order"), new_order_path, class: "waves-effect waves-light btn" %>