<table>
  <thead>
  <tr>
    <th class="mail-order-th" id="th-table-item-title"><%= t".item"%></th>
    <th class="mail-order-th-name"><%= t".name"%></th>
    <th class="center mail-order-th"><%= t".quantity"%></th>
    <th class="left mail-order-th" id="th-table-space-title">&nbsp;</th>
    <th class="mail-order-th"><%= t".price"%></th>
  </tr>
  </thead>
  <tbody>
    <% @products.each do |item| %>
    <%
      product = item[0]
      quantity = item[1]
    %>
      <tr>
        <td id="td-table-image-item">
        </td>

        <td>
          <%= link_to product.name, products_path %>
        </td>

        <td class="center">
          <%= quantity %>
        </td>

        <td class="center">
        </td>
      </tr>

    <% end %>
      <tr class="total_line">
        <td>&nbsp;</td>
        <td class="td-table-space-total">&nbsp;</td>
        <td class="center"><b><%= t".total"%></b></td>
        <td class="td-table-space-total">&nbsp;</td>
      </tr>
  </tbody>
</table>
