<div class="row">
  <div class="col s12 l6">
    <div class="name">
      <%= @user.name %>
    </div>
    <div class="email">
      <%= @user.email %>
    </div>
    <div class="address">
      <%= @user.address %>
    </div>
    <div class="phone">
      <%= @user.phone %>
    </div>
    <div class="gender">
      <%= @user.gender %>
    </div>
  </div>
  <div class="col s12 l6">
  </div>
</div>
