<div class="row">
  <div class="col s12 l6">
    <div class="name">
      <%= @user.name %>
    </div>
    <div class="email">
      <%= @user.email %>
    </div>
    <div class="address">
      <%= @user.address %>
    </div>
    <div class="phone">
      <%= @user.phone %>
    </div>
    <div class="gender">
      <%= @user.gender %>
    </div>
  </div>
  <div class="col s12 l6">
    <% @orders.each do |order| %>
      <%= link_to order_path(order) do %>
        <div class="">
          <%= order.receving_name %>
          <%= order.receving_address %>
        </div>
      <% end %>
      <div class="">
        <%= label_tag "status", order.isstatus %>
        <% if order.accepted? || order.wait? %>
          <%= link_to (t ".cancel"), order_path(order), method: :delete %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
