<div class="row">
  <% @products.each do |product| %>
    <div class="col s12 m6 l3">
      <%= link_to product do %>
        <div class="card z-depth-4">
          <div class="card-image">
            <%= image_tag "flower.jpg" %>
          </div>
          <div class="card-content">
            <span class="card-title"><%= product.name %></span>
          </div>
      <% end %>
        <div class="card-action">
          <div class="row">
            <%= form_for :cart, url: shopping_cart_path, remote: true do |f| %>
              <div class="col s6 l4">
                <%= product.price %>
              </div>
              <div class="col s6 l8">
                <%= f.hidden_field :product_id, value: product.id %>
                <%= f.submit (t".cart"), class: "waves-effect waves-light btn" %>
              </div>
            <% end %>
          </div>
        </div>
        </div>
    </div>
  <% end %>
 <%= will_paginate @products %>
</div>
