<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
<<<<<<< 106ab3b164001b97b0a97025b703abe8e297e83e
=======
  <style>
    .mail-order-th {
      min-width: 100px;
      text-align: left;
    }

    .mail-order-th-name {
      min-width: 100px;
      text-align: left;
    }

    .card {
      position: relative;
      margin: 0.5rem 0 1rem 0;
      background-color: #f3f3f3;
      transition: box-shadow .25s;
      border-radius: 2px;
    }

    .card .card-image {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    .card .card-content {
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 0 0 2px 2px;
    }

    .container {
      margin-left: 10px;
      width: 98%;
      max-width: 1300px;
    }

    .title-order-page {
      color: white;
      background-color: darkcyan;
      padding: 10px 15px;
      font-size: 20px;
    }

    p {
      line-height: 1.5;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="card">
    <div class="title-order-page">
      <%= t ".new_order" %>
    </div>
    <div class="card-content">
      <p><%= t ".dear" %> <%= @user.name %>,</p>

      <p><%= t ".email_thank" %></p>

      <p><%= t ".order_id" %>
        : <%= link_to @order.order_number, root_url + 'orders/history' + "?email=#{@user.email}&time=#{@time}&token_key=#{@token_key}" %></p>

      <table>
        <thead>
        <tr>
          <th class="mail-order-th-name"><%= t "orders.new.product_name" %></th>
          <th class="mail-order-th"><%= t "shared.product.index.quantity" %></th>
          <th class="mail-order-th"><%= t "products.show.price" %></th>
        </tr>
        </thead>
        <tbody>
        <% @order.order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.product.name %></td>
            <td style="text-align: center;"><%= order_item.quantity.to_s %></td>
            <td>$<%= order_item.total_price.to_s %></td>
          </tr>

          <tr class="total_line">
            <td></td>
            <td><%= t ".total" %></td>
            <td class="total_cell"><%= number_to_currency(@order.total) %></td>
          </tr>

        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
