<tr>
  <td><%= users.id %></td>
  <td><%= link_to users.name, user_path(users) %></td>
  <td><%= users.email %></td>
  <td><%= users.created_at %></td>
  <td>
    <% if current_user.admin? && !current_user?(users) %>
      <%= link_to (t "admin.admin.users.del"), admin_user_path(users),
                  method: :delete, data: {confirm: (t "admin.admin.users.flash")} %>
    <% end %>
  </td>
</tr>
